<!-- src/app/navbar/navbar.component.html -->
<nav class="bg-gray-900 shadow-lg p-4">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div class="text-white font-bold text-xl">Book Store</div>
      <ul class="hidden md:flex space-x-4">
        <!-- hide the links on small screens (up to medium) -->
        <li *ngFor="let menu of menuItems">
          <a [routerLink]="menu.route" class="text-white hover:text-gray-200">{{
            menu.name | uppercase
          }}</a>
        </li>
      </ul>
      <!-- Mobile menu button -->
      <button (click)="navbar = !navbar" class="md:hidden text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </button>
    </div>
    <!-- Mobile menu -->
    <div [class.hidden]="!navbar" class="md:hidden transition-transform mt-4">
      <!-- show the mobile menu on small screens (up to medium) -->
      <ul class="bg-gray-800 rounded p-2 space-y-2">
        <li *ngFor="let menu of menuItems">
          <a
            [routerLink]="menu.route"
            class="block text-white hover:text-gray-200"
            >{{ menu.name }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
